.form-group [type='submit'] {
    display: inline-flex;
    margin-right: 10px;
    background-color: rgb(85, 6, 68);
    width: 120px;
    border: 2px solid rgb(85, 6, 68);
    border-radius: 35px;        
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    text-align: center;
}
.form-group [type='login']{
    display: inline-flex;
    margin-right: 10px;
    background-color: #060e35;  
    width: 120px;
    border: 2px solid #060e35;
    border-radius: 35px;
    text-align: center;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.8);
    
}

.form-group [type='login']:hover {
    background-color: white;
    color: #060e35;
    width: 140px;
}

.form-group [type='submit']:hover {
    background-color: white;
    color: rgb(85, 6, 68);
    width: 140px;
}
h6 {
    font-size: 16px;
    text-align: center;
    margin-left: 5px;
}