<div class='container-fluid' style='text-align:center'>
    <div class='form-group'>
        <a routerLink = '/signup' class='btn btn-info' type='submit'><h6>Sign up    <i class="fa fa-user-plus" aria-hidden="true"></i></h6></a>
    
        <a routerLink = '/login' class='btn btn-success' type='login'><h6>Login     <i class="fa fa-sign-in" aria-hidden="true"></i></h6></a>
    </div>
 
</div>
