@font-face {font-family: "CeraPRO-Light";

    src: url("./CeraPro-Light.ttf") format("truetype"); /* IE9*/
    
     }
  @font-face {font-family: "Cera PRO Medium";

 src: url("./Cera Pro Medium.otf") format("truetype"); /* IE9*/
 }

@font-face {font-family: "CeraPro-Regular";
src: url("./CeraPro-Regular.otf") format("truetype"); /* IE9*/
}