 <hr>
 <div class='container-fluid' style='text-align:center'>
     
    <div><h4><a routerLink = '/homepage'>Welcome to Chatscrum   <i class="fa fa-home" aria-hidden="true"></i></a></h4></div>
 </div>  
 <hr>
 
<router-outlet></router-outlet>