

table, th, td {
    padding : 30px;
    border: 0 solid #808080;
    text-align: center; 
    
      
}
td {
    color: rgb(78, 9, 9);
    text-align: center;
    font-family: 'Cera PRO Medium';
    font-size: 16px;
    
}
th {
    font-family: 'Cera PRO Medium';
    font-size: 18px;
    
}
h3 {
    font-size: 24px;
    font-family: 'Cera PRO Medium';
}

