<!-- Modal -->
<div class='container'>
    <div class="bg-info d-flex align-content-center justify-content-between flex-row">
        <h3 class="text-white m-4">Scrumboard</h3>
        <h3 class="text-white m-4">Welcome, {{ yourname }}</h3>
        <h3 class="text-white m-4">Your Role is {{ rolee }}</h3>
        <h6>{{tftw}}</h6>
        <button class="mr-4 btn danger text-red ml-3" routerLink='/login'>Logout</button>
    </div>
    <br>
    <div class="d-flex flex-row justify-content-lg-between">
        <div class="d-flex flex-row middle">
            <a class="btn bg-secondary conn text-white ml-3" routerLink='/createproject'>
                Create a Project</a>
            <a class="btn bg-info conn text-white ml-3" routerLink='/chat'>
                Project Chat</a>
            <div *ngIf="rolee == 'Owner'">
                <a class="btn bg-primary conn text-white ml-3" (click)=startSprint()>
                Start a Sprint</a>
            </div>
        </div>
    </div>

    
    <br>
    <div class='container'>
        <div *ngFor='let participant of _participants'>
                <!--Box for adding task-->
                <hr>
                    <h3><strong><i class="fa fa-user"></i>{{ participant['user']['nickname'] }}</strong></h3>
                    <div *ngIf="rolee == 'Developer' && username == participant['user']['nickname']">
                        <button class="btn bg-primary text-white" (click)="onClick(participant)">
                            + Add Goal for {{ participant['user']['nickname'] }}
                        </button>
                    </div>
                    <div *ngIf="rolee == 'Owner'" class="d-flex flex-row">
                        <button class="btn bg-secondary text-white" (click)="onClick(participant)">
                            + Add Goal for {{ participant['user']['nickname'] }}
                        </button>
                        <button class="ml-4 btn bg-info text-white" (click)="onClickrole(participant)">change role for
                            {{ participant['user']['nickname'] }}</button><br>
                    </div>
               
                    <table class ='table'>
                        <thead>
                            <tr>
                                <th>Tasks For The Week</th>
                                <th>Tasks For The Day</th>
                                <th>Verify</th>
                                <th>Done</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngIf="rolee == 'Developer' && participant['user']['nickname'] != username">
                            <td cdkDropList
                                    #tftw='cdkDropList' 
                                    [cdkDropListData]='tftw' 
                                    [cdkDropListConnectedTo]= "[]"
                                    (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" >
                                    <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                                        <div class='alert alert-danger'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>    
                                </div>
                            </td>
                            <td cdkDropList
                                    #tftd='cdkDropList' 
                                        [cdkDropListData]='tftd' 
                                        [cdkDropListConnectedTo]= "[]"
                                        (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" >
                                    <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                                        <div class='alert alert-secondary'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td cdkDropList #verify='cdkDropList' 
                                        [cdkDropListData]='verify' 
                                        [cdkDropListConnectedTo]= "[]"
                                        (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" >
                                    <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                                        <div class='alert alert-info'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div> 
                                </div>
                            </td>

                            <td cdkDropList
                                    #done='cdkDropList' 
                                    [cdkDropListData]='done' 
                                    [cdkDropListConnectedTo]= "[]"
                                    (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" >
                                    <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                                        <div class='alert alert-success'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        
                        <tr *ngIf="rolee == 'Developer' && participant['user']['nickname'] == username">
                            <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw"
                                        [cdkDropListConnectedTo]="[task_for_the_day, task_verified]" 
                                        (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                                        <div class='alert alert-danger'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div> 
                            </td>
                            
                            <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd"
                                [cdkDropListConnectedTo]="[task_verified, task_for_the_week]" (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                                        <div class='alert alert-secondary'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="verify"
                                [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                                        <div class='alert alert-info'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]"
                                    (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                                        <div class='alert alert-success'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                    

                        
                        <tr *ngIf="rolee == 'Admin' || rolee == 'Owner'">
                            <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw"
                                [cdkDropListConnectedTo]="[task_for_the_day, task_verified, task_done]" (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                                        <div class='alert alert-danger'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>  
                            </td>     
                            <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd"
                                [cdkDropListConnectedTo]="[task_verified, task_for_the_week, task_done]" (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                                        <div class='alert alert-secondary'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="verify"
                                [cdkDropListConnectedTo]="[task_for_the_day,task_for_the_week, task_done]" (cdkDropListDropped)="drop($event)">
                                    <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                        <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                                            <div class='alert alert-info'>
                                                {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                            </div>
                                        </div>
                                    </div>
                            </td>
                            <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done" 
                                    [cdkDropListConnectedTo]="[task_for_the_day,task_for_the_week, task_verified]"
                                    (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                                        <div class='alert alert-success'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>

                        <tr *ngIf="rolee == 'Quality Analyst'">
                            <td cdkDropList #task_for_the_week="cdkDropList" [cdkDropListData]="tftw"
                                [cdkDropListConnectedTo]="[task_for_the_day]" (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 0 && goal['user'] == participant['id']">
                                        <div class='alert alert-danger'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td cdkDropList #task_for_the_day="cdkDropList" [cdkDropListData]="tftd" 
                            [cdkDropListConnectedTo]="[task_verified, task_for_the_week]" (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 1 && goal['user'] == participant['id']">
                                        <div class='alert alert-secondary'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td cdkDropList #task_verified="cdkDropList" [cdkDropListData]="verify"
                                [cdkDropListConnectedTo]="[task_done, task_for_the_day]" (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 2 && goal['user'] == participant['id']">
                                        <div class='alert alert-info'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td cdkDropList #task_done="cdkDropList" [cdkDropListData]="done" [cdkDropListConnectedTo]="[]"
                                (cdkDropListDropped)="drop($event)">
                                <div *ngFor="let goal of participant['scrumgoal_set']" [cdkDragData]="goal" cdkDrag>
                                    <div *ngIf="goal['status'] == 3 && goal['user'] == participant['id']">
                                        <div class='alert alert-success'>
                                            {{ goal['name'] }}<br>
                                            {{ goal['id'] }} | status: {{ goal['status'] }}
                                        </div>
                                    </div>
                                </div>
                            </td>
                        </tr>
                </tbody>
            </table>
    </div>
</div>
